*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'lato','Arial' ,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header
{

    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url(img/main.jpg);
    background-position: center;
    background-size: cover;
    height :100vh;
 
    
}

.main{
    position: absolute;
    top: 65%;
    left: 67%;
    width: 1140px;
    

}

h1
{
margin:0;
color: #fff;
font-size: 200%;
font-weight: 300;
letter-spacing: 1px;
word-spacing: 4px;
text-transform: capitalize;

}

.btn{
    margin-top: 2%;
    display: inline-block;
    padding: 5px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    
}

.btn-main1{
    background-color: yellowgreen;
    margin-right: 3%;
}

.btn-main2{
    color: blue;
    
    background-color: #fff;
}